@page
@model MyFrontEnd.Pages.ActorsModel
<form method="post">
    <button asp-page-handler="StartTimer">开启计时器111111</button>
    <button asp-page-handler="StopTimer">停止计时器</button>
    <button asp-page-handler="DoAnotherThing">开启一项临时任务</button>
</form>